<h1>Boss</h1>
<%# link_to "Survey", (@surveylink.link) %>
<!-- <a href="<%#{@surveylink.link} %>">Survey</a> -->

<%#= link_to "Google", "http://google.com", :target => "_blank" %>

<%= link_to "Take your survey", "#{@surveylink.link}", :target => "_blank" %>
