<h1>Students Students Students Profile</h1>
<h3>Nombre: <%= current_respondent.name %></h3>

<h3>Take External survey</h3>
 <a href="/surveycodes/new">Add a Survey Code</a><br>


 <a href="/">Home</a>
